---
const today = new Date();
---

<footer>
	<!-- &copy; {today.getFullYear()} Pablo Sacaluga. Crafting digital things. -->
	 <a href="https://www.pablosacaluga.com/cases" class="footer-logo">
		<span>Case Studies</span>
	</a>
	<div class="social-links">
		<a href="https://bsky.app/profile/psacaluga.bsky.social" target="_blank">
			<span class="sr-only">Follow Pablo Sacaluga on BlueSky</span>
			<svg width="32" height="32" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
				astro-icon="social/bluesky" aria-hidden="true" >
				<path
					fill-rule="evenodd" clip-rule="evenodd" 
					d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616C8.725 6.118 10.697 3.326 12.532 1.948C13.855 0.955004 16 0.186004 16 2.632C16 3.121 15.72 6.737 15.556 7.324C14.984 9.364 12.903 9.885 11.052 9.57C14.288 10.121 15.112 11.945 13.333 13.77C9.957 17.234 8.481 12.9 8.103 11.79C8.033 11.586 8 11.49 8 11.572C8 11.491 7.967 11.586 7.898 11.79C7.519 12.9 6.043 17.234 2.667 13.77C0.889 11.945 1.712 10.12 4.947 9.57C3.097 9.885 1.015 9.365 0.444 7.324C0.28 6.737 0 3.12 0 2.632C0 0.186004 2.145 0.955004 3.468 1.948Z" 
					fill="currentColor"/>
			</svg>
		</a>
		<a href="https://github.com/psacaluga" target="_blank">
			<span class="sr-only">Go to Sacaluga's GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" 
				astro-icon="social/github" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd" clip-rule="evenodd"
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
			</svg>
		</a>
		<a href="https://www.linkedin.com/in/pablosacaluga/" target="_blank">
			<span class="sr-only">Go to Sacaluga's LinkedIn page</span>
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
				astro-icon="social/linkedin" aria-hidden="true">
				<path 
					fill-rule="evenodd" clip-rule="evenodd" 
					d="M16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0ZM7.68108 13.2519H11.307V24.1464H7.68108V13.2519ZM11.5458 9.8818C11.5223 8.8136 10.7584 8 9.51802 8C8.27761 8 7.46667 8.8136 7.46667 9.8818C7.46667 10.9279 8.25364 11.7649 9.47095 11.7649H9.49413C10.7584 11.7649 11.5458 10.9279 11.5458 9.8818ZM20.2088 12.9961C22.5948 12.9961 24.3836 14.5535 24.3836 17.8998L24.3834 24.1464H20.7576V18.3178C20.7576 16.8538 20.2329 15.8548 18.9203 15.8548C17.9186 15.8548 17.3219 16.5283 17.0599 17.1788C16.964 17.4119 16.9405 17.7367 16.9405 18.0623V24.1467H13.3141C13.3141 24.1467 13.3619 14.2745 13.3141 13.2522H16.9405V14.7953C17.4217 14.0535 18.2836 12.9961 20.2088 12.9961Z" 
					fill="currentColor"/>
			</svg>
		</a>
	</div>
</footer>
